<div class=" ui grid center aligned segment">
      <div class="statistic eight wide column">
        <div class="value">
          <i class="users icon"></i>{{user}}
        </div>
        <div class="label">
          Users of the system
        </div>
      </div>
      <div class="statistic eight wide column">
        <div class="value">
          <i class="book icon"></i>{{bookmarks}}
        </div>
        <div class="label">
          Total Bookmarks for All Users
        </div>
      </div>
      <div class="statistic eight wide column">
        <div class="value">
          <i class="book icon"></i>{{avgBook}}
        </div>
        <div class="label">
         Average Bookmarks Per User
        </div>
      </div>
      <div class="statistic eight wide column">
        <div class="value">
          <i class="book icon"></i>{{max}}
        </div>
        <div class="label">
          has the most Bookmarks
        </div>
      </div>
    </div>