<form class="ui segment form" action="/dashboard/addBookmark" method="POST" enctype="multipart/form-data">
  <div class="field">
    <label>Add A Bookmark Collection</label>
    <input placeholder="Collection Title" type="text" name="title" autofocus required>
   </div> 
  <button class="ui ui green submit button">Add A Collection</button>
</form>