{{> menu id="about"}}

<section class="ui center aligned middle aligned segment">
  <p>
    The app was created by Keith Maher <br>
    Student Number -> 20074612 <br>
    Email -> <a href''>keithmaher12345@gmail.com</a>
  </p>
</section>