{{> menu id="about"}}

<section class="ui center aligned middle aligned segment">
  <p>
    The app was created by Keith Maher <br>
    Student Number -> 20074612 <br>
    Email -> <a href''>keithmaher12345@gmail.com</a>
  </p>
  
  <div><iframe frameborder="0" height="400" width="1000" style="border:1" src="https://www.google.com/maps/embed/v1/view?zoom=14&center=52.3558,-7.6903&key=AIzaSyA64wXlu4k65BirI6HEshyN8f6CoCF0p2w"></iframe></div>
  
</section>
