{{> menu id="about"}}

<section class="ui center aligned middle aligned segment">
  <p>
    The Web App was created by Keith Maher <br>
    Student Number -> 20074612 <br>
    Email -> <a href="keithmaher12345@gmail.com">keithmaher12345@gmail.com</a><br>
    BSc Software Systems Development<br>
    Waterfore Institute of Technology<br>
    <i class="ie large flag"></i>
  </p>
  
  <div id="map"></div>
  
</section>


   <script>
      function initMap() {
        var uluru = {lat: 52.2459, lng: -7.1388};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 14,
          center: uluru
        });
        var marker = new google.maps.Marker({
          position: uluru,
          map: map
        });
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBC_V5f2btFKjp3H_Pefzt7YMG11GgTU8Y&callback=initMap">
    </script> 