{{> menu id="dashboard"}}

{{#each bookmarks}}
  <section class="ui segment">
    <h2 class="ui header">
      {{title}}
    </h2>
    <section class="ui segment">
    <h2 class="ui header">
      {{title}}
    </h2>
    <p> Artist: {{artist}} </p>
    <a href="#"> View </a>
  </section>
{{/each}}
  </section>
{{/each}}