{{> menu}}

<section class="ui center aligned middle aligned segment">
  <h1 class="ui header">
    Welcome to Keith's Bookmarks
  </h1>
  <div class="mainimg">
    <img src="https://cdn.glitch.com/1730f669-221e-4810-b719-0fb0130bc4d0%2Fship-hires.png?1520565706313" class="ui large centered rounded image">
  </div>
  <p>
    This Glitch app will allow a user to view and delete bookmarks for web related resources.
  </p>
  <p>
    The app works with a json file and will be developed to allow addition of bookmarks in the future.
  </p>
</section>