{{> menu}}

<section class="ui center aligned middle aligned segment">
  <h1 class="ui header">
    Welcome to Keith's Bookmarks
  </h1>
  <p>
    This Glitch app will allow a user to create and
maintain bookmarks for interesting web sites.
  </p>
</section>