body{
  background-image: url("https://cdn.glitch.com/1730f669-221e-4810-b719-0fb0130bc4d0%2Fback.jpeg?1520564265327");
  background-size: cover;
  background-position: center; 
  padding-top:25px;
  padding-bottom:900px;
}

.mainimg{
  padding:25px;
}

#innerimg{
  padding: 10px;
}

#map{
  height: 400px;
  width: 100%;
}

#returnhome{
  color:black;
}